@page
@model J72443Restaurant.Pages.menuListModel
@{
    ViewData["Title"] = "menuList";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="restaurantMenu">Our Restaurants Menu</h2>

<div>
    <table class="blueTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price Date</th>
                <th scope="col">Description</th>
                <th scope="col">Photo</th>
            </tr>
        </thead>

        @foreach (var fd in Model.food)
        {
            <tbody>
                <tr>
                    <td scope="row" data-label="Food Name">@fd.FoodName</td>
                    <td data-label="Price">@fd.Price.ToString("C")</td>
                    <td data-label="Description">@fd.Description</td>
                    <td data-label="Photo">
                        <img src="@Url.Content(fd.Image)" alt="@fd.Image"
                    </td>
                </tr>
            </tbody>
        }
    </table>
 </div>